<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'/>
    <title>Time Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}">
</head>

<body>
    <div class="topnav">
        <a  href="{{ url_for('assignments') }}">Assignment Info</a>
        <a class='active' href="{{ url_for('timetable') }}">Class Schedule</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('settings')  }}">Settings</a>
    </div> 

    <div class=timetable>
        {{ time_table | safe }}
    </div>
</body>

</html>
