
/* https://www.youtube.com/watch?v=phWxA89Dy94 */ 
.tables-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;  /* ? why isnt this working */
} 

.minor-table-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.assignment-table-container{
    width: 50%;
    padding: 75px;
    display: flex;
    justify-content: center;
}

.assignment-table{
    width: 100%;
    align-self: center;
    font-family: 'Monaco', monospace;
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

/* styling for all tables  */
tr:nth-child(even) { background-color: #f2f2f2; }
tr:hover { background-color: orange; }
td{ 
    padding: 5px;
    border-left: 1px solid grey;
    border-right: 1px solid grey; 
}
th { 
    background-color: #04AA6D;
    color: white; 
}


.grade-table-container{
    background-color: aqua;
    
}


.todo-table-container{
    background-color: blueviolet;
}